<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.springbootdemo02.mapper.AccountMapper">
    <select id="selectAccountByUsername" parameterType="String" resultType="com.tedu.springbootdemo02.pojo.Account">
    select * from account where login_name=#{username}
</select>

</mapper>